@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#about {
  padding: 0 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2.5s; /* Firefox < 16 */
  -ms-animation: fadein 2.5s; /* Internet Explorer */
  -o-animation: fadein 2.5s; /* Opera < 12.1 */
  animation: fadein 2.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#about > h1{
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.about-me{
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#about > h2{
  margin-top: 2rem;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#about > h3{
  margin: 3rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
}

.tecnologies{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.tech-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .6rem;
  width: 12rem;
  height: 8.5rem;
}

.tech-image{
  padding: 5px;
  border-radius: .6rem;
  background-color: white;
  width: 90%;
  height: 90%;
  transition: .8s;
}

.tech-image:hover{
  width: 100%;
  height: 100%;
  transition: .8s;
}

.last-block{
  padding-bottom: 3rem;
}

.nav-links{
  display: flex;
  flex-direction: column;
  gap: .8rem;
  position: fixed;
  left: 1rem;
  top: 1rem;
  align-items: left;
}

.to-home, .to-projects{
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.to-home:hover, .to-projects:hover{
  text-decoration: underline;
}


@media screen and (max-width:769px){
  #about{
    padding: 0 10%;
  }

  .nav-links{
    flex-direction: row;
    position: absolute;
  }
}
